<div class="landing-header">
  <div class="logo">
    <a href="/">
      Лого
    </a>
  </div>
  <nav class="landing-nav">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/collections">Каталог</a></li>
      <li><a href="/pages/contact">Контакты</a></li>
    </ul>
  </nav>
</div>