<div class="custom-header">
  <link rel="stylesheet" href="{{ 'custom-style.css' | asset_url }}">
  <div class="header-container">
    <div class="logo">
      <a href="/" title="Home">
        <img src="{{ 'Logo.png' | asset_url }}" alt="The Health Project" width="173.11" height="40">
      </a>
    </div>
    <nav class="nav-links">
      <ul>
        <li><a href="/collections/all">Catalog</a></li>
        <li><a href="/pages/categories">Categories</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/reviews">Reviews</a></li>
        <li><a href="/pages/faq">FAQ</a></li>
        <li><a href="/pages/contact">Contact us</a></li>
      </ul>
      
    </nav>
    <div class="cta-button">
      <a href="/collections" class="btn">Visit market</a>
    </div>
  </div>
</div>