<link rel="stylesheet" href="{{ 'custom-footer-socials.css' | asset_url }}">

<section class="social-links-section">
  <div class="container">
    <div class="social-links-grid">
      {% for block in section.blocks %}
        <div class="social-link-card">
          <div class="social-platform-name">{{ block.settings.platform_name }}</div>
          <div class="social-profile-handle">
            <a href="{{ block.settings.profile_url }}" target="_blank">{{ block.settings.profile_handle }}</a>
            <div class="link-arrow"><span>↗</span></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Social Links",
  "settings": [],
  "blocks": [
    {
      "type": "social-link",
      "name": "Social Link",
      "settings": [
        {
          "type": "text",
          "id": "platform_name",
          "label": "Platform Name",
          "default": "Gmail"
        },
        {
          "type": "text",
          "id": "profile_handle",
          "label": "Profile Handle",
          "default": "@example.lorem"
        },
        {
          "type": "url",
          "id": "profile_url",
          "label": "Profile URL",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Social Link",
  }]
}
{% endschema %}