.hero-section {
 width: 100%;
 display: flex;
 padding: 60px 20px;
}
  
  .swiper {
    width: 100%;
    position: relative;
  }
  
  .swiper-wrapper {
    width: 100%;
  }
  
  .swiper-slide {
    display: flex;
    
   }

   .product-card{ 
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
   }
  
  .content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 107px;
  }
  .product-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
  }

  .product-text p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #808080;
  }
  
  .product-title {
    display: flex;
  }

  .text{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #231F20;
  }

  .product-button{
    background-color: #42ABDE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    border-radius: 100px;
    max-width: 181px;
  }

  .product-button span{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
  }

  .content-right {
    max-width: 1200px;
    max-height: 870px;
    width: 100%;
    height: 100%;
    }
    .content-right img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-hero-buttons{
      position: absolute;
      display: flex;
      justify-content: space-around;
      bottom: 150px;
      right: 10%;
      
    }

    .swiper-button-next, 
    .swiper-button-prev{
      position: absolute;
      text-align: center;
      width: 60px;
      height: 60px;
      background-color: none;
      border: 1px solid #DDDDDD ;
      border-radius: 50%;
      color: #42ABDE;
      font-size: 40px;
      overflow: hidden;
      right: 0;
    }

    .swiper-button-next > div, 
    .swiper-button-prev > div{
      color: #42ABDE;
      width: 60px;
      height: 60px;
    }

    .swiper-button-next::after {
      content: '';
    }

    .swiper-button-prev::after {
      content: '';
    }

    .autoplay-progress {
      position: absolute;
      
      z-index: 10;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #42ABDE;
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: -3px;
      top: -3px;
      z-index: 10;
      width: 110%;
      height: 110%;
      stroke-width: 1px;
      stroke: #42ABDE;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {

  }
  
  h1 {
  }
  
  p {
  }
  
  @media (max-width: 1366px) {
    .content-right {
      max-width: 800px;
      max-height: 626px;
      }
    .swiper-hero-buttons{
      bottom: 75px;
    }
    .content-left {
      
      padding-bottom: 50px;
    }
    .product-button{
      max-width: 100%;
    }
  }

  @media (max-width: 768px) {
    .product-card{ 
      display: flex;
      flex-direction: column-reverse;
      
      align-items: flex-start;
      gap: 41px;
      background-size: cover;
      background-position: center;
      max-width: 1410px;
      width: 100%;
      margin: 0 auto;
     }

     .swiper-hero-buttons{
      bottom: 83px;
    }
    .swiper-hero-buttons{
      
      right: 18.5%;
      
    }
    .product-button{
      
      width: 50%;
    }
    .content-left {
      width: 100%;
    }
  }