<link rel="stylesheet" href="{{ 'landing-theme.css' | asset_url }}">

{% section 'header' %}
<div class="custom-landing-page">
  <h1>Добро пожаловать на мою уникальную страницу!</h1>
  <p>Это страница с уникальной темой и стилями.</p>
</div>
{% section 'footer' %}